<table class="w-75 text-white container">
  <p class="text-center text-white mt-5 mb-1" style="font-size: 1.9rem"><%= "#{@flight.from_airport.code} - #{@flight.to_airport.code}" %></p>
  <p class="text-white text-center"><%= @flight.departure_time.strftime("%A, %d %b %Y") %></p>
  <tr>
    <th>Flight Number</th>
    <th>Time of Departure</th>		
    <th>Estimated Time of Arrival</th>
    <th>Flight Duration</th>
  </tr>
    <tr>
      <td><%= @flight.id %></td>
      <td><%= @flight.departure_time.strftime("%I:%M %p") %></td>
      <td><%= @flight.arrival_time.strftime("%A, %d %b %Y %l:%M %p") %></td>
      <td><%= distance_of_time_in_words(@flight.departure_time, @flight.arrival_time, scope: 'datetime.distance_in_words.short') %></td>
    </tr>
</table>

<div class="w-100 h-75">
<%= form_with(model: @booking, local: true) do |f| %>
  <%= f.fields_for :passengers do |p| %>
    <%= p.label "Name" %>
    <%= p.text_field :name %>
    <%= p.label "Email" %>
    <%= p.text_field :email %>
  <% end %>
<% end %>
</div>